/.vs/*
/GBATool/bin/*
/GBATool/obj/*
/GBATool/GBATool.csproj.user
/ArchitectureLibrary/bin/*
/ArchitectureLibrary/obj/*
/PaletteQuantizerLibrary/obj/*
/PaletteQuantizerLibrary/bin/*
/ColorPalette/obj/*
/ColorPalette/bin/*
/GBATool/Properties/PublishProfiles/FolderProfile.pubxml.user
